{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/jsx-fragments": "off",
    "react/state-in-constructor": [
      "error",
      "always"
    ]
  }
}
